
.article-card-container{
    max-width: 1400px;
    margin: auto;
     padding: 0 20px;
}

.article-card-container h2 {
  color: white;
  font-size: 3rem;
  margin-bottom: 5px;
}

.article-card-container p {
  color: #c8c8c8;
  margin-bottom: 30px;
font-size: 1.125rem;
}

.blog-card-groups {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

@media (max-width: 1024px) {
  .blog-card-groups {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .blog-card-groups {
    grid-template-columns: 1fr;
  }
}

.blog-cards {
  background: #0c0f13;
  border-radius: 22px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.45);
  transition: 0.35s;
}

.blog-cards:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 55px rgba(0, 170, 255, 0.35);
}

.blog-cards img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.blog-cards-content {
  padding: 26px;
}

.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.tags span {
  background: #082235;
  color: #64caff;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12.5px;
  font-weight: 500;
}

.blog-cards-content h3 {
  color: white;
  font-size: 1.45rem;
  line-height: 1.9rem;
  margin-bottom: 10px;
}

.blog-cards-content p {
  color: #a0a8b3;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 18px;
}

.meta {
  color: #7fd8ff;
  font-size: 0.95rem;
}



