.hire-page {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 60vh;
}

.hire-page h2 {
    font-size: 3rem;
    font-weight: 700;
}

.hire-page p {
    font-size: 1.125rem;
    padding-top: 20px;
    padding-bottom: 30px;
}

.hire-page button {
    padding: 1rem 2.0rem;
    border-radius: 20px;
}

.hire-page button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 25px white;
    transform: translateY(-3px);
    transition: 0.3s ease;

}